services:
  jitsi:
    image: henry768/jitsi:latest_jitsi
    container_name: jitsi
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=development
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "yarn install --immutable && yarn start"
    networks:
      - jitsi-network

networks:
  jitsi-network:
    driver: bridge